OPENAI_API_KEY=sk-xxx
SHARIF_KEY=sk-xxx
LANGSMITH_API_KEY=xxx
HF_TOKEN=xxx
APP_WORKFLOW=default
# or
# plan-and-execute
# self_reflection_rag
# default

LANGFUSE_SECRET_KEY = "sk-lf-xxxx"
LANGFUSE_PUBLIC_KEY = "pk-lf-xxxx"
LANGFUSE_BASE_URL = "http://192.168.1.175:3000"
LANGFUSE_ENABLED=false
LANGFUSE_TRACING_ENVIRONMENT=dev